.gallery {
  column-count: 2;
  column-gap: 0rem;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  @media (min-width: 576px) {
    column-count: 3;
  }
  @media (min-width: 960px) {
    column-count: 4;
  }
  @media (min-width: 1200x) {
    column-count: 5;
  }
  img {
    width: 42vw;
    margin-bottom: 1rem;
    @media (min-width: 576px) {
      width: 27vw;
    }
    @media (min-width: 960px) {
      width: 20vw;
    }
    @media (min-width: 1200px) {
      width: 12vw;
    }
  }
}
